<form action="/process" method="POST">
    <label for="firstName"></label>
    <input type="text" name=""firstName"">

    <label for="lastName"></label>
    <input type="text" name="lastName">

    <label for="phoneNo"></label>
    <input type="text" name="phoneNo">

    <label for="message"></label>
    <input type="message" name="message">
</form>